:root {
    --base-color: rgba(255, 255, 255, 1);
    --hover-color: rgb(0, 0, 0);
  }
  
  body {
    height: 100vh;
    overflow: hidden;
   
    display: flex;
    justify-content: center;
    align-items: center;
   
    font-family: "Anton", sans-serif;
    background: radial-gradient(ellipse at bottom, #396eab 0%, #071144 100%);
  }
  
  .horizontal {
    display: -webkit-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 400px;
    height: 120px;
    margin: 20px;
    border: 10px solid var(--base-color);
    font-size: 4rem;
    cursor: pointer;
    overflow: hidden;
  }
  .horizontal  .text {
    position: relative;
    color: transparent;
    color: #fff; 
    transition: all .3s;
  }
  .horizontal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--base-color);
    transform-origin: 100% 0;
    transform: scale3d(0,1,1);
    transition: transform 300ms;
  }
  .horizontal:hover .text {
    color: #000;
  }
  .horizontal:hover::before {
    transform-origin:0 0 ;
    transform: scale3d(1,1,1);
  }
  
  .vertical {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 400px;
    height: 120px;
    margin: 20px;
    border: 10px solid var(--base-color);
    font-size: 4rem;
    cursor: pointer;
  }
  .vertical .text {
   position: relative;
   color: #fff;
   transition: all .3s;
  }
  .vertical::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--base-color);
    transform-origin: 0 0;
    transform: scale3d(1, 0, 1);
    transition: all .3s;
  }
  .vertical:hover .text {
   color: #000;
  }
  .vertical:hover::before {
    transform-origin: 0 100%; 
    transform: scale3d(1, 1, 1);
  }
  